.navMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 100px;
  margin: 0 auto;
  border-radius: 20px;
  background: #be703c48;
  font-size: 20px;
  cursor: pointer;
  color: #f5e2c3;
}

.ElipsNav {
  margin-left: 20px;
}

.mainBlock {
  background-image: linear-gradient(
      226.17deg,
      rgba(0, 0, 0, 0) -20.49%,
      rgba(0, 0, 0, 0.75) 33.09%
    ),
    url('./Page/images/backgroundMainBlock.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  padding-top: 30px;
}

.info {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 100px;

  width: 70vw;
}

.infoTextOne {
  color: #be713c;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 300;
  width: 90%;
  margin-bottom: 30px;
}

.infoTextTwo {
  font-family: Montserrat;
  font-size: 33px;
  font-weight: 600;
  color: #f5e2c3;
  width: 75%;
  margin-bottom: 30px;
}

.btnCatalogMain,
.btnCatalog,
.btnCatalogAbout,
.btnFeedBack {
  font-family: Montserrat;
  background-color: rgba(240, 248, 255, 0);
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  width: 35%;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #f5e2c3;

  &:hover {
    background-color: rgba(240, 248, 255, 0.114);
    cursor: pointer;
  }
}
.btnCatalogMain,
.btnCatalogAbout {
  color: #f5e2c3;
}
.btnFeedBack {
  margin-top: 10px;
  border: 1px solid #be713c;
  color: #be713c;
  &:hover {
    background-color: rgba(100, 103, 105, 0.26);
    cursor: pointer;
  }
}

.btnCatalogAbout {
  width: 25%;
  margin-bottom: 50px;
}

.btnCatalog {
  margin-top: 30px;
  margin-bottom: 50px;
  color: black;
  width: 25%;
  &:hover {
    background-color: rgba(71, 72, 72, 0.114);
    cursor: pointer;
  }
}

.infoPlay {
  width: 30vw;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.circle {
  display: block;
  overflow: visible;
  width: 120px;
  font-size: 14px;
  fill: #f5e2c3;
  transform: rotate(220deg);
  letter-spacing: 2px;
  transition: transform 3s ease;
  cursor: pointer;
  &:hover {
    transform: rotate(90deg);
  }
}

#playLogo {
  transform: rotate(140deg);
}

.circle path {
  fill: none;
}

.numberInfo {
  width: 15%;
  text-align: center;
  margin-bottom: 70px;
}
.aboutMe {
  color: #f5e2c3;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 50px auto;
}

.catalogBlock,
.aboutMaster,
.galereyJob,
.feedBack {
  width: 75vw;
  margin: 0 auto;
}

.catTitle {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 400;
  line-height: 60.95px;
}
.catDiscription {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.catalogBlockMain,
.catalogBlockMain2,
.imgAbout {
  display: flex;
  flex-direction: column;
}

.aboutMaster,
.footer {
  background-color: #212121;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.galereyJob {
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.One,
.aboutMasterJScontent {
  display: flex;
  justify-content: space-between;
}

.tgt1 {
  width: 40vw;
  margin: 5px;
  border-radius: 20px;
}
.tgt {
  width: 20vw;
  margin: 5px;
  border-radius: 20px;
}
.tgt2 {
  width: 60vw;
  margin: 5px;
  border-radius: 20px;
}

.aboutTitle {
  margin-top: 30px;
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 400;
  line-height: 60.95px;
  color: #f5e2c3;
}

.discriptonAbout {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  width: 60%;
  margin-top: 20px;
}

.tgtAbout1,
.tgtAbout2 {
  width: 15vw;
}

.tgtAbout1 {
  margin-top: 40px;
}

.tgtAbout2 {
  margin-top: -20px;
  margin-left: 50px;
}

.aboutClient,
.aboutReciew {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 400;
  line-height: 60.95px;
  color: #f5e2c3;
  margin-top: 50px;
}

.mapClient {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;

  margin-top: 50px;
}

.imgClient,
.oneRec {
  margin-right: 100px;
}

.mapClient::-webkit-scrollbar {
  width: 10px;
}

.mapClient::-webkit-scrollbar-button:start:decrement {
  background-image: url('https://w7.pngwing.com/pngs/838/348/png-transparent-arrow-straight-arrow-thumbnail.png');
  background-size: cover;

  cursor: pointer;
}

.mapClient::-webkit-scrollbar-button:end:increment {
  background-image: url('https://w7.pngwing.com/pngs/360/46/png-transparent-computer-icons-arrow-symbol-arrow-psd-angle-text-rectangle-thumbnail.png');
  background-size: cover;
  cursor: pointer;
}
.defaultPhoto {
  width: 20%;
}

.mapReciews {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  color: #f5e2c3;
  width: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.oneRec {
  border: 1px solid #f5e2c3;
  border-radius: 20px;
  padding: 20px;
}

.mapReciews::-webkit-scrollbar {
  width: 10px;
}

.mapReciews::-webkit-scrollbar-button:start:decrement {
  background-image: url('https://w7.pngwing.com/pngs/838/348/png-transparent-arrow-straight-arrow-thumbnail.png');
  background-size: cover;
  cursor: pointer;
}

.mapReciews::-webkit-scrollbar-button:end:increment {
  background-image: url('https://w7.pngwing.com/pngs/360/46/png-transparent-computer-icons-arrow-symbol-arrow-psd-angle-text-rectangle-thumbnail.png');
  background-size: cover;
  cursor: pointer;
}

.titleGal {
  margin-top: 50px;
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 400;
  line-height: 60.95px;
}
.discriptionGal {
  margin-top: 30px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.galer {
  display: flex;
  flex-direction: column;
}
.galerImg {
  width: 115%;
  padding: 5px;
}

.titleFeedback {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 400;
  line-height: 60.95px;
}

.discriptionFeedback {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
}
.feedBack {
  margin-bottom: 50px;
}

.feedBackFiled {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.fieldTxt {
  width: 50%;
}
.numberTel {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #be713c;
  margin-left: 20px;
}
.infoFeedBack {
  margin-top: 20px;
  display: flex;
  margin-bottom: 20px;
}

.inputs {
  display: flex;
  justify-content: space-between;
}
.inpUser {
  width: 45%;
  border-radius: 8px;
  border: 1px solid #bdbdbd;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
}
textarea {
  width: 97%;
  height: 120px;
  border-radius: 8px;
  border: 1px solid #bdbdbd;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
}
.dataCheck {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #bdbdbd;
  margin-left: 10px;
}

.footerContent {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.StrugaDiscript {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f5e2c3;
}
.strugaDop {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: #f5e2c3;
}

.footerStruga,
.footerCont,
.footerNavi,
.footercatalog {
  width: 20%;
}
